.container, .containerGrow{
    display: flex;
    border: 1px dashed red;
    flex-direction: row;
}
.item{
    border: 1px solid black;
    /*      flex-basis
        altera o tamanho do elemento de acordo com eixo principal da flex (row = width or column = height)*/

    flex-basis: 20px;
}
.grow{
    border: 1px solid black;
    flex-direction: column;
    
}
    /*      flex-grow
        Quando usar o flex-grow, pense sempre um fração dentro da outra
        - se um item leva o valor 1 ele pega todo espaço q tem (1/1)
        - 2 itens com valor 1, cada fica com metade (1/2)
        - +1 item valor=2 mantendo a função anterior = ele fica o dobro pois pega 2 (2/3) partes do q estava sobrando o restante fica com (1/3)  
        
        
                - flex-shrink funciona da mesma forma porém encolhendo elementos
    */
.containerGrow div:nth-child(2),
.containerGrow div:nth-child(3){
    flex-grow: 1;
}
.containerGrow .grow:nth-child(1){
    flex-grow: 2;
}
