*{
    margin: 0;
}
main{
    height: 95vh;
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    border: 1px solid black;
    height: 30%;
    width: 30%;
}
